@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model placeApp.Models.Places
@{

    Layout = "_Layout";
    ViewData["Title"] = "Place";
}
<h1>Place</h1>
<div>
    <h3>Num:@Model.num</h3>
    <h3>Name:@Model.name</h3>
</div>