@model EmployeeApp.Models.Employee;
@{
    ViewData["Title"] = "Employee Info";
    Layout = "_Layout";
}
<h1>One Employee Info</h1>
<div>
    <h3>ID = @Model.Id</h3>
    <h3>FirstName = @Model.FirstName</h3>
    <h3>LastName = @Model.LastName</h3>
    <h3>Gender = @Model.Gender</h3>
</div>
